<!--nav for small scree-->
<nav id="navBar" class=" navbar navbar-fixed-top showInSmallScreen">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <ul>
        <li><h1 class="NavBarHeader">Sany Yousif</h1></li>
        <li><h3 class="NavBarHeader">Sotware Developer</h3></li>
        <li class="inline NavBarElements"><i class="icone fa fa-user" aria-hidden="true"></i><a href="">About</a></li>
        <li class="inline NavBarElements"><i class="icone fa fa-film" aria-hidden="true"></i><a href="">Projects</a></li>
        <li class="inline NavBarElements"><i class="icone fa fa-cog" aria-hidden="true"></i><a href="">Technologies</a></li>
      </ul>     
    </div>
  </div>
</nav>

<!--nav for large screen-->
<nav id="navBar" class=" navbar navbar-fixed-top showInLargeScreen">
  <div class="container-fluid">
    <div class="inline navbar-header navbar-left">
      <ul>
        <li><h1 class="NavBarHeader">Sany Yousif</h1></li>
        <li><h3 class="NavBarHeader">Sotware Developer</h3></li>
      </ul>     
    </div>
    <div class ="navbar-nav navbar-right">
      <ul class=" navbar-right">
        <li class="inline NavBarElements"><a href="#About">About</a></li>
        <li class="inline NavBarElements"><a href="#Projects"> Projects </a></li>
        <li class="inline NavBarElements"><a href="#Technologies">Technologies</a></li>
      </ul>
    </div>    
  </div>
</nav>


