<!--show in small screen-->
<footer class="footer showFooterInSmallScreen" id="footer"> 
  <div class="container">
    
    <div class="row left">

      <div class="col-sm-4 xsFooterIcon">
        <a href="https://www.linkedin.com/in/sany-yousif-19a03155/">
          <img class = "contactIcon" src="./src/assets/Images/Logos/LinkedinLogo.png" alt="Linked">
        </a>
      </div>
      <div class="col-sm-4 xsFooterIcon">
        <a href="https://github.com/Sanyyouisf">
          <img class = "contactIcon" src="./src/assets/Images/Logos/GithubLogo.png" alt="Github">
        </a>
      </div>
      <div class="col-sm-4 xsFooterIcon">
        <a href="mailto:sanymamdoh@yahoo.com">
          <img class = "contactIcon" src="./src/assets/Images/Logos/EmailLogo.png" alt="Email">
        </a>
      </div>
    
    </div>
  </div>

  <div class="footerText" id="footerText"> <p> © Sany Yousif small</p> </div>
</footer>

<!--show in large screen-->
  <footer class="footer showFooterInLargeScreen" id="footer">
  
  <div class="container">
    
    <div class="row left">

      <div class="col-sm-4 xsFooterIcon">
        <a href="https://www.linkedin.com/in/sany-yousif-19a03155/">
          <img class = "contactIcon" src="./src/assets/Images/Logos/LinkedinLogo.png" alt="Linked">
        </a>
      </div>
      <div class="col-sm-4 xsFooterIcon">
        <a href="https://github.com/Sanyyouisf">
          <img class = "contactIcon" src="./src/assets/Images/Logos/GithubLogo.png" alt="Github">
        </a>
      </div>
      <div class="col-sm-4 xsFooterIcon">
        <a href="mailto:sanymamdoh@yahoo.com">
          <img class = "contactIcon" src="./src/assets/Images/Logos/EmailLogo.png" alt="Email">
        </a>
      </div>
    
    </div>
  </div>
 
  <div class="footerText" id="footerText"> <p> © Sany Yousif  large </p> </div>
  </footer>