<footer class="footer">
  
  <div class="container">
    
    <div class="row left">

      <div class="col-sm-4 xsFooterIcon">
        <img class = "contactIcon" src="./src/assets/Images/Logos/LinkedinLogo.png" alt="Linked">
      </div>
      <div class="col-sm-4 xsFooterIcon">
        <img class = "contactIcon" src="./src/assets/Images/Logos/GithubLogo.png" alt="Github">
      </div>
      <div class="col-sm-4 xsFooterIcon">
        <img class = "contactIcon" src="./src/assets/Images/Logos/EmailLogo.png" alt="Email">
      </div>
    
    </div>
  </div>
 
  <p class="footerText">©  Sany Yousif</p>
  </footer>