#About{
    margin: 20px;
    padding-top: 50px;
    /*display: inline-block;*/
}

.center{
    text-align: center;
    margin: 25px;
}

#Projects {
    margin: 20px;
    clear :left;
    padding-top: 50px;
}

#Technologies{
    margin: 20px;
    padding-top: 50px;
    }

.profilePic{
    width: 25%;
    height: 25%;
    float: left;
    margin: 0px 50px 20px 20px;
    box-shadow: 2px 2px 15px #008080;
    border-radius: 10px;
}


.technologyName{
    visibility: hidden;
    font-weight: bold;
}


.technologyIcon{
    height: 75px;
}

.technologyDiv:hover p{
    visibility: visible;
}







 
