<div class="body" id="body">
  <div id ="bodyContent">

    <div id ="About"> 
      <h1 class="center">About Me</h1>

      <div class="col-sm-05">
        <img src="assets/Images/ProfileImage.jpg" alt="ProfilePic" class="profilePic"/>
      </div>
      <div class="aboutP col-sm-05">
        <p>
          I came to Nashville in 2013. I worked for 4 years to fix laptops and test cloud servers using Linux premade scripts.        
          I heard from a friend of mine about Nashville Software School and decided to join the part-time web development bootcamp
          focusing on HTML, CSS, JavaScript, jQuery and Angular client side technologies,
          and C#/.NET, SQL server, and LINQ server side technologies.       
        </p>
        <p>
          I am currently working as a software engineer at Ingram Content Group, focusing on C#/.NET, SQL and Angular.
          I also write unit test, APIs for the backend project and stored procedures.
          I built portions of the UI using Angular4 to meet business requirements. 
        </p>
        <p>
          I like Software Development as it allows me to do everything. 
          There is no end of things to learn, projects to build, or people to meet in the process.
        </p>  
      </div>      
    </div>


    <div id="ScrollBG">
    </div>

    <div id="Projects" class="container">
        <h1 class="center">Projects</h1>
        <div class="row center">

          <div class="FECap col-sm-12 xsProjcol projectFram container">
            <h3 class="center aprojectHeader" >TCA ( Tracking Child Activities)</h3>
            <div class="row">
              <p class="col-md-6 col-xs-12">
                My frontend capstone is a tool that allows parents to register, login, create account, add their children and assign them some useful activities.
                Also allow the child to login and do their activities. This tool was built using Javascript, using a combination of AngularJS with HTML, CSS/Sass, Bootstrap.
                and deployed using Firebase.<br><br>
                  <a href="https://tca-capstone.firebaseapp.com/#!/auth" class="projectLink"> https://tca-capstone.firebaseapp.com</a>
              </p> 
              <img class="projectIcon col-md-6 col-xs-12" src="./assets/Images/backgroundPic/frontendCapBackground.png">     
            </div>
          </div>

          <div class="BECap col-sm-12 xsProjcol projectFram container">
            <h3 class="center aprojectHeader">MyOrganizer</h3>
            <div class="row">
              <p class="col-md-6 col-xs-12">
              My backend capstone is a full CRUD tool that allows you to manage - add, edit, delete and search - your Address Books, Tasks and Meetings using ASP.
              NET Web API, Identity Framework, Angular and Bootstrap.<br><br>
                <a href="https://github.com/Sanyyouisf/MyOrganizer" class="projectLink"> https://github.com/Sanyyouisf/MyOrganizer</a>
              </p>
              <img class="projectIcon col-md-6 col-xs-12" src="./assets/Images/backgroundPic/backendCapstoneBackground.png">
            </div>           
          </div>

        </div>
    </div>


    <div id="Technologies" class="container">
      <h1 class="center">Technologies</h1>
      <div class="row">

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/HTML5Logo.png" alt="HTML5">
            <p class="technologyName">HTML5</p>
          </div>
          
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/CSS3Logo4.png" alt="CSS3">
            <p class="technologyName">CSS3</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/BootstrapLogo.png" alt="Bootstrap">
            <p class="technologyName">Bootstrap</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/SASSLogo.png" alt="SASS">
            <p class="technologyName">SASS</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/JavascriptLogo.png" alt="JavaScript">
            <p class="technologyName">JavaScript</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/AngularLogo.svg" alt="Angular">
            <p class="technologyName">Angular</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">          
            <img class = "technologyIcon" src="./assets/Images/Logos/JqueryLogo.png" alt="Jquery">
            <p class="technologyName">Jquery</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">         
            <img class = "technologyIcon" src="./assets/Images/Logos/DotNetLogo.png" alt=".NET">
            <p class="technologyName">.NET</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">          
            <img class = "technologyIcon" src="./assets/Images/Logos/CsharpLogo.png" alt="C #">
            <p class="technologyName">C #</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
           <div class ="techFram">         
            <img class = "technologyIcon" src="./assets/Images/Logos/AspnetMVCLogo.png" alt="ASP.NET MVC">
            <p class="technologyName">ASP.NET MVC</p>
           </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/VB.NETLogo.png" alt="VB.NET">
            <p class="technologyName">VB.NET</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
           <div class ="techFram">         
            <img class = "technologyIcon" src="./assets/Images/Logos/SqlServer.png" alt="SQL">
            <p class="technologyName">SQL</p>
           </div>
        </div> 

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/VisualStudioCodeLogo.png" alt="Visual Studio Code">
            <p class="technologyName">VS Code</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/VisualStudioLogo.png" alt="Visual Studio">
            <p class="technologyName">Visual Studio</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/AzureLogo.png" alt="Azure">
            <p class="technologyName">Azure</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/NpmLogo.png" alt="NPM">
            <p class="technologyName">NPM</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/TrelloLogo.png" alt="Trello">
            <p class="technologyName">Trello</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/GruntLogo.png" alt="Grunt">
            <p class="technologyName">Grunt</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/GitLogo2.png" alt="Git">
            <p class="technologyName">Git</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/GithubLogo.png" alt="github">
            <p class="technologyName">github</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/FirebaseLogo.png" alt="Firebase">
            <p class="technologyName">Firebase</p>
          </div>
        </div>

        <div class="col-sm-4 xsCol technologyDiv">
          <div class ="techFram">
            <img class = "technologyIcon" src="./assets/Images/Logos/BitbucketLogo.png" alt="Bitbucket">
            <p class="technologyName">Bitbucket</p>
          </div>
        </div>
      
      </div> 
    </div>
  </div>

</div>
