<div class="body">
  
  <div id ="About">
    <h1 class="center">About Me</h1>
    <div class="myImage">
      <img src="assets/Images/ProfileImage.jpg" alt="ProfilePic" class="profilePic"/>
    </div>
    <p>
      this text about me , my name is Sany Yousif I like softeware  development , 
      this text about me , my name is Sany Yousif I like softeware  development
    </p>     
    <p>
      this text about me , my name is Sany Yousif I like softeware  development
      this text about me , my name is Sany Yousif I like softeware  development
    </p>
    <p>
      this text about me , my name is Sany Yousif I like softeware  development
      this text about me , my name is Sany Yousif I like softeware  development 
    </p>
  </div>

  <div id="Projects">
   <h1 class="center">Projects</h1>
    <p>this text about me , my name is Sany Yousif I like softeware  development , 
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development 
    </p>
  </div>

  <div id="Technologies">
       <h1 class="center">Technologies</h1>
    <p>this text about me , my name is Sany Yousif I like softeware  development , 
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development 
    </p>
    <p>this text about me , my name is Sany Yousif I like softeware  development , 
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development 
    </p>
    <p>this text about me , my name is Sany Yousif I like softeware  development , 
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development
       this text about me , my name is Sany Yousif I like softeware  development 
    </p>
  </div>

</div>
