#body{
margin-top: 215px;
margin-bottom: 100px;
}

.center{
    text-align: center;
    margin: 25px;
}


/*** Navbar part*****/
#navBar {
    position: fixed;
    width: 100%;
    padding: 10px;
    color: #000080;
    background-color: #48d1cc;
    float: left;
    left: 0px;
    top: 0px;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 5px;
    }

.Navbaricone {
    padding-right: 10px;
}

a, a:hover{
    text-decoration: none;
    color: white;
    }

ul {
list-style: none;
}

ul li h1{
font-size: 2rem;
} 

ul li h3{
font-size: 1rem;
} 

.NavBarHeader {
margin: 10px;
}

.NavBarElements {
margin: 10px;
}

.showInSmallScreen{
    visibility: visible;
}

.showInLargeScreen{
    visibility: hidden; 
}

/*** ScrollBG *****/
#ScrollBG{
    background-image: url('./assets/Images/backgroundPic/SoftwareEngineer.png');
    background-color: rebeccapurple;
    float: none;
    width: 100%;
    height: 200px;
    /*clear: left;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/*** About *****/
#About{
    margin: 20px;
    padding-top: 50px;
}

.profilePic{
    width: 25%;
    height: 25%;
    float: left;
    margin: 0px 50px 20px 20px;
    box-shadow: 2px 2px 15px #008080;
    border-radius: 10px;
}

.aboutP{
    padding: 30px;
    margin: 20px;
}

.left {
    float: left !important;
}

.showFooterInSmallScreen{
    visibility: hidden;
}

.showFooterInLargeScreen{
    visibility: visible;
}


/*** Technologies *****/
#Technologies{
    margin: 20px;
    padding-top: 50px;
}

#Technologies h1 , #About h1 ,#Projects h1{
margin-bottom: 50px;
font-family: 'Lobster',cursive ;
font-weight: bold;
}

.technologyName{
    visibility: hidden;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.techFram {
    width: 130px;
    height: 110px;
    background: #e3e3e3;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding: 7px;
    margin: 25px;
    box-shadow: 5px 10px #888888;
}

.technologyIcon{
   width: 100px;
   height: 100px;
   padding: 10px;
   vertical-align: center;
}

.technologyDiv:hover p {
    visibility: visible;
}


/*** projects *****/
#Projects {
    margin: 20px;
    clear :left;
    padding-top: 50px;
}

#Projects p {
    padding: 20px;
}

#Projects h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.projectFram{
    
    background: #e3e3e3;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding: 35px;
    margin: 20px 20px 20px 20px;
    box-shadow: 2px 10px #888888;
}

.projectLink, .projectLink:hover{
    color: black;
    font-weight: bold;
}

.marginBottom{
    margin-bottom: 10px;
}

.projectIcon {
    width: 80%;
    height: 80%;
    border: 1px solid gray;
}

.projectHeader{
    margin-top: 10px;
}

.inLine{
    display: inline-block !important;
}

/*** footer part *****/
#footerText{
margin-top: 35px;
}
    
/************
large screen
************/
@media screen and (min-width: 660px)  {

body{
    background-color: pink;
}
#body{
margin-top: 110px;
margin-bottom: 100px;
}


.showInSmallScreen{
     visibility: hidden;
}
.showInLargeScreen{
     visibility: visible; 
}

 .inline{
    display: inline-block;
  }
}

/************
very small screen
************/
@media screen and (max-width: 575px)  {

    #navBar{
        position: fixed;
        top:0;
        transition: top;
    }

    .xsCol{
        width: 175px;
    }

    .xsProjcol {
        width: 400px;
    }

    .xsProjectIcon{
        width: 100%;
    }

    #body{
    margin-top: 100px;
    margin-bottom: 120px;
    }

    .xsFooterIcon{
        width: 60px;
        height: 60px;
    }

    #footer{
        height: 100px;
        position: fixed;
    }

    #footerText{
        float: none;
        text-align: center;
        clear: left;
    }

    #footerText p {
        margin-bottom: 0px;
    }

    .showFooterInSmallScreen{
        visibility: visible;
    }

    .showFooterInLargeScreen{
        visibility: hidden;
        margin: -50px 0px 0px 0px;
    }
}


