/************
small screen
************/
/*@media screen and (max-width: 660px)  {*/
body {
    background: green;
    }
#navBar {
    position: fixed;
    width: 100%;
    padding: 10px;
    /*margin: auto;*/
    /*margin-bottom: 10px;*/
    color: white;
    background-color: #008080;
    float: left;
    left: 0px;
    top: 0px;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 5px;
	}
.icone {
    padding-right: 10px;
}
 

a {
    text-decoration: none;
    color: white;
    }

      ul {
  list-style: none;
}

ul li h1{
  font-size: 2rem;
} 

ul li h3{
  font-size: 1rem;
} 
.NavBarHeader {
  margin: 10px;
}

.NavBarElements {
  margin: 10px;
}

.showInSmallScreen{
     visibility: visible;
}
.showInLargeScreen{
     visibility: hidden; 
}

.body{
    margin-top: 220px;
}

.MyImage {
    width: 25%;
    margin: 0px 15px 15px 0px;
    box-shadow: 2px 2px 15px #008080;
    border-radius: 10px;
}
.left {
    float: left !important;
}

/*}*/

/************
big screen
************/
@media screen and (min-width: 660px)  {
body {
    background: pink;
    }

.body{
    margin-top: 120px;
    }

.showInSmallScreen{
     visibility: hidden;
}
.showInLargeScreen{
     visibility: visible; 
}

 .inline{
    display: inline-block;
  }


}

