/************
the very small screen
************/
/*@media screen and (max-width: 575px)  {
    .xsCol{
        width: 175px;
    }

    #body{
    margin-top: 215px;
    margin-bottom: 100px;
    }

    .xsFooterIcon{
        width: 100px;
    }

    #footer{
        height: 100px;
        margin-top: 20px;
    }

    #footerText{
        float: none;
        text-align: center;
        clear: left;
    }

    .showFooterInSmallScreen{
        visibility: visible;
    }

    .showFooterInLargeScreen{
        visibility: hidden;
    }
}*/


/************
small screen
************/
/*@media screen and (max-width: 660px)  {*/
/*body {
    background: green;
    }*/
#navBar {
    position: fixed;
    width: 100%;
    padding: 10px;
    /*margin: auto;*/
    /*margin-bottom: 10px;*/
    color: #000080;
    /*background-color: #008080;*/
    background-color: #48d1cc;
    float: left;
    left: 0px;
    top: 0px;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 5px;
	}
.icone {
    padding-right: 10px;
}
 

a {
    text-decoration: none;
    color: white;
    }

      ul {
  list-style: none;
}

ul li h1{
  font-size: 2rem;
} 

ul li h3{
  font-size: 1rem;
} 
.NavBarHeader {
  margin: 10px;
}

.NavBarElements {
  margin: 10px;
}

.showInSmallScreen{
     visibility: visible;
}
.showInLargeScreen{
     visibility: hidden; 
}

/*.body{
    margin-top: 220px;
    margin-bottom: 50px;

}*/

.MyImage {
    width: 25%;
    margin: 0px 15px 15px 0px;
    box-shadow: 2px 2px 15px #008080;
    border-radius: 10px;
    }

.left {
    float: left !important;
    }

.showFooterInSmallScreen{
        visibility: hidden;
    }

    .showFooterInLargeScreen{
        visibility: visible;
    }

    #footerText{
    margin-top: 35px;
    }

    #body{
    margin-top: 215px;
    margin-bottom: 75px;
    /*background-image: url("/src/assets/Images/backgroundPic/800px_COLOURBOX10133990.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    }
    /*#bodyContent{
        opacity: 0.9;
        border: 1px soled red;
        background-color: whitesmoke;
        width: 80%;
        margin: 0px 10% 0px 10%;
    }*/

    #Projects p {
        padding: 20px;
    }
    #Projects h3 {
        text-align: center;
    }

    .projectLink{
        color: black;
        font-weight: bold;
    }

    .projectIcon {
        border: 1px red solid;
        width: 50%;
        height: 50%;
    }

    .projectFram {
        /*border: 1px solid white;*/
        /*background-color: gainsboro;*/
        /*padding: 10px;*/
    }

    .projectFram:hover {
        /*border: 2px solid red;*/
        /*background-color: gainsboro;*/
    }

    
    

/*}*/

/************
large screen
************/
@media screen and (min-width: 660px)  {
/*body {
    background: pink;
    }*/

#body{
    margin-top: 110px;
    margin-bottom: 70px;
    /*background-image: url("/src/assets/Images/backgroundPic/800px_COLOURBOX10133990.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url("img_tree.gif"), url("paper.gif");*/

    }

.showInSmallScreen{
     visibility: hidden;
}
.showInLargeScreen{
     visibility: visible; 
}

 .inline{
    display: inline-block;
  }
}

@media screen and (max-width: 575px)  {
    .xsCol{
        width: 175px;
    }

    .xsProjcol {
        width: 400px;
    }

    #body{
    margin-top: 215px;
    margin-bottom: 100px;
    }

    .xsFooterIcon{
        width: 100px;
    }

    #footer{
        height: 100px;
        margin-top: 20px;
    }

    #footerText{
        float: none;
        text-align: center;
        clear: left;
    }

    .showFooterInSmallScreen{
        visibility: visible;
    }

    .showFooterInLargeScreen{
        visibility: hidden;
    }
}


